.search-bar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 9px 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    border: 2px solid #ddd;
    outline: none;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
}

.clear-icon {
    font-size: 24px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s;
}

.clear-icon:hover {
    color: black;
}
